$NavyBlue: #18263d; // rgba(33, 40, 60, 1);
$Green: #55a588; // rgba(86, 164, 133, 1);
$LightBlue: #add5e3; // rgba(173, 213, 227, 1);
$Turquoise: #64d7c4; // rgba(100, 215, 196, 1);
$BrightYellow: #fbc144; // rgba(251, 193, 68, 1);
$LightGrey: #c7c7c7; // rgba(199, 199, 199, 1);
